.postcard {
    display: flex;
    flex-direction: row;
    color: black;
}

.postcard-image {
    position: relative;
    max-width: 100%;
    width: 140px;
    height: 150px;
    overflow: hidden;
    border-radius: 0.5rem;
}

.postcard-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
    position: absolute;
}

.group:hover img {
    transform: scale(1.05);
}

.postcard-texts {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
}

.postcard-text__title {
    margin-bottom: 1rem;
    color: #6b7280;
    max-width: 7rem;
    max-height: 1.2rem;
    /* overflow: hidden; */
    line-height: normal;
}

.postcard-text__desc {
    max-width: 15rem;
    max-height: 3.5rem;
    overflow: hidden;
    margin-bottom: 1rem;
}

.postcard-text__links{
    list-style: none;
    text-decoration: none;
    color: #E1BEE7;
}

.bold-title {
    font-weight: bolder;
}