.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 150px;
    bottom: 0;
    font-family: "Open Sans", serif;
    width: 100%;
    background: white;
    background-image: url("../../assets/Mask.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.footer-divider {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    width: 100%;
    padding-top: 100px;
    background: transparent;
}

.curve {
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    transform: translate(85%, 60%);
    background-color: hsl(216, 21%, 16%);
}

.curve::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 55%;
    height: 100%;
    background-color: #3c31dd;
    transform: translate(-4%, 40%);
    z-index: -1;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 328px;
}

.wave .shape-fill {
    fill: #ffff;
}

.footer-innerdiv {
    display: flex;
    flex-direction: column;
    padding: 6%;
    width: 100%;
}

.footer-innerdiv__p {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

.footer-button__p {
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.footer-innerdiv__content {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    ;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80%;
}

.footer-innerdiv__title {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 7rem;
}

.footer-innerdiv__img {
    width: 5rem;
    margin-right: 4rem;
}

.footer-innerdiv__img img {
    width: 100%;
    height: auto;
}

.footer-innerdiv-lists {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    max-height: 8rem;
}

.footer-innerdiv-lists p {
    font-size: clamp(0.5rem, 1.5vw, 2.5rem);
    margin-bottom: 1rem;
    font-weight: 700;
}

.footer-innerdiv-list__ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.footer-innerdiv-list__li {
    margin: 0;
    font-size: clamp(0.2rem, 1vw, 2rem);
    line-height: normal;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
}

.icon {
    margin-right: 1rem;
}

@media (width >=1280px) {
    .footer {
       padding-top: 25vh;
    }

    .footer-innerdiv__content {
        max-width: fit-content;
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (width >=1536px) {
    .footer {
        padding-top: 50vh;
        background-size: 100%; 
     }

     .footer-innerdiv {
        transform: translateY(-6vh);
     }
}